<!-- <form> -->
    <div class="form-group">
        <label for="username"> username </label>
        <input name="username" id="username" type="text">
    </div>
    <div class="form-group">
        <label for="password"> Password </label>
        <input name="password" id="password" type="password">        
    </div>
    <div class="form-group">
        <label for="acceptance"> Password </label>
        <input name="acceptance" id="acceptance" type="checkbox">        
    </div>
    <button (click)="HandleSubmit()">Submit</button>
<!-- </form> -->